In [1]:
# setting up environment
import pandas as pd
import numpy as np
import os

from dotenv import load_dotenv

load_dotenv()

True

In [2]:
dataset = pd.read_csv(os.getcwd()+'/datasets/dataset.csv')

dataset.head()

,id,age,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,217,40,1,1,19.0,1.0,0,1,0,216.800000,122.0,87.0,25.258630,76.925676,79.116788,0
1,3234,64,0,0,0.0,0.0,0,0,0,247.081081,133.0,82.0,26.038767,77.013514,83.380282,0
2,297,46,0,1,43.0,0.0,0,0,0,235.314286,121.0,78.0,25.387500,78.428571,81.246154,0
3,768,51,1,1,20.0,0.0,0,0,0,251.495575,134.0,86.5,25.726140,76.166667,79.754902,0
4,7,36,1,1,35.0,0.0,0,0,0,207.440000,102.0,68.0,25.206267,74.453333,78.371429,0

In [3]:
dataset.describe()

,id,age,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000,2712.000000
mean,1702.061209,49.514381,0.437684,0.504794,9.283555,0.030236,0.005162,0.310841,0.024705,237.162096,132.360435,82.857301,25.790577,75.981623,82.058483,0.151549
std,979.339372,8.567381,0.496193,0.500069,11.888002,0.171268,0.071676,0.462923,0.155253,14.234857,22.368481,12.075935,0.709473,1.228054,3.980117,0.358649
min,0.000000,32.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,169.000000,83.500000,48.000000,22.854000,64.000000,76.759398,0.000000
25%,858.250000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,224.730159,117.000000,74.000000,25.249811,75.068966,79.116788,0.000000
50%,1716.500000,49.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,240.504425,128.000000,82.000000,25.750299,75.990741,81.246154,0.000000
75%,2551.500000,56.000000,1.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,248.359649,143.500000,90.000000,26.181630,76.895652,83.758621,0.000000
max,3389.000000,70.000000,1.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,259.974359,295.000000,142.500000,31.780000,81.400000,93.906667,1.000000

In [4]:
# encoding categorical column to bolean (colomn sex and is_smoking)
def encodeColumnToBool(df, col, values):
  try:
    df[col] = df[col].replace(values,[0,1])
  except:
    print('invalid column to encode, not a str')
  return df

dataset = encodeColumnToBool(dataset, 'sex', ['F', 'M'])
dataset = encodeColumnToBool(dataset, 'is_smoking', ['NO', 'YES'])
dataset.head()

invalid column to encode, not a str
invalid column to encode, not a str

,id,age,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,217,40,1,1,19.0,1.0,0,1,0,216.800000,122.0,87.0,25.258630,76.925676,79.116788,0
1,3234,64,0,0,0.0,0.0,0,0,0,247.081081,133.0,82.0,26.038767,77.013514,83.380282,0
2,297,46,0,1,43.0,0.0,0,0,0,235.314286,121.0,78.0,25.387500,78.428571,81.246154,0
3,768,51,1,1,20.0,0.0,0,0,0,251.495575,134.0,86.5,25.726140,76.166667,79.754902,0
4,7,36,1,1,35.0,0.0,0,0,0,207.440000,102.0,68.0,25.206267,74.453333,78.371429,0

In [5]:
# convert interger 0-1 to bolean
def convertColomnToInt(df, col):
    try:
        df[col] = dataset[col].astype(int)
    except:
        print('cant convert colomn to int')
    return df

dataset = convertColomnToInt(dataset,'BPMeds')
dataset.head()

,id,age,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,217,40,1,1,19.0,1,0,1,0,216.800000,122.0,87.0,25.258630,76.925676,79.116788,0
1,3234,64,0,0,0.0,0,0,0,0,247.081081,133.0,82.0,26.038767,77.013514,83.380282,0
2,297,46,0,1,43.0,0,0,0,0,235.314286,121.0,78.0,25.387500,78.428571,81.246154,0
3,768,51,1,1,20.0,0,0,0,0,251.495575,134.0,86.5,25.726140,76.166667,79.754902,0
4,7,36,1,1,35.0,0,0,0,0,207.440000,102.0,68.0,25.206267,74.453333,78.371429,0

In [6]:
# check missing value

dataset.isnull().sum()

id                 0
age                0
sex                0
is_smoking         0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

In [7]:
# divide datasets into testing and training datasets
# TESTINGRATE, ratio for testing data
TESTINGRATE = float(os.getenv('TESTINGRATE'))

# before we split the dataset, we shuffle the rows to randomize it
dataset = dataset.sample(frac=1).reset_index(drop=True)

training_df = dataset.iloc[int(len(dataset) * TESTINGRATE):, :]
testing_df = dataset.iloc[:int(len(dataset) * TESTINGRATE), :]

print('shape train dataset : {0}'.format(training_df.shape))
print('shape testing dataset : {0}'.format(testing_df.shape))

shape train dataset : (2170, 16)
shape testing dataset : (542, 16)

In [8]:
# save training and testing data into csv

training_df.to_csv(os.getcwd()+'/datasets/training.csv',  index=False)
testing_df.to_csv(os.getcwd()+'/datasets/testing.csv',  index=False)